PORT=5000
NODE_ENV=development

# MongoDB Atlas (Cloud Database)
MONGODB_URI=mongodb+srv://tdasanayaka751_db_user:<YOUR_PASSWORD>@cluster0.lhqte82.mongodb.net/unifind_lost_and_found?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=unifind_campus_lost_and_found_secret_sliit_2026
JWT_EXPIRE=30d
